<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/toggle/css/bootstrap-toggle.min.css">
    <style media="screen">
      html,body{
        height: 100%;
      }
      textarea{
        resize: none;
      }
      row{
        height: 100%;
      }
      .container-fluid{
        padding-left: 60px;
        padding-right: 60px;
      }
      button.shoes{
        margin-top: 20px;
      }
      .wrapper{
        padding-bottom: 40px;
      }
      .shift-input{
        margin: 0 auto;
      }
      #alertCaesar{
        margin-top: 20px;
        /*display: none;*/
      }
      #dict-container{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      #honey-pills{
        margin-top: 20px;
      }
      .letter-container{
        width: 5%;
        margin: 10px;
      }
      .honeySettings{
        margin-top: 25px;
      }
    </style>
  </head>

  <body>
    <div class="wrapper">
      <div class="jumbotron">
        <div class="container">
          <h1>Encrypto <span class="glyphicon glyphicon-search" aria-hidden="true"></span></h1>
          <p>Encrypt and Decrypt Messages.</p>

        </div>
      </div>
      <div class="container-fluid">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#caesar" role="tab" data-toggle="tab">Caesar</a></li>
          <li><a href="#base64" role="tab" data-toggle="tab">Base 64</a></li>
          <li><a href="#hex" role="tab" data-toggle="tab">Hex</a></li>
          <li><a href="#honey" role="tab" data-toggle="tab">Honey</a></li>
        </ul>

        <!-- TAB CONTENTS -->
        <div class="tab-content">
          <!-- Caesar Tab -->
          <div class="tab-pane active fade in" id="caesar">
            <div class="" id="caesarAlertContainer"></div>
            <div class="row">
              <div class="col-sm-6">
                <h3 class="text-center">Original</h3>
                <textarea id="eTextArea" rows="10" class="form-control" placeholder="Enter the text you want to encrypt."></textarea>
                <button class="shoes btn btn-primary center-block" id="caesarEncrypt">Encrypt</button>
              </div>
              <div class="col-sm-6">
                <h3 class="text-center">Encrypted</h3>
                <textarea id="dTextArea" rows="10" class="form-control" placeholder="Enter the text you want to decrypt."></textarea>
                <button class="shoes btn btn-primary center-block" id="caesarDecrypt">Decrypt</button>
              </div>
            </div>
            <div class="row">
              <div class="input-group shift-input">
                <h4 class="text-center">Shift</h4>
                <input type="number" class="form-control text-center" id="shift" name="shift" placeholder="3">
              </div>
            </div>
          </div>

          <!-- Base64 Tab -->
          <div class="tab-pane fade" id="base64">
            <div class="" id="base64AlertContainer"></div>
            <div class="row">
              <div class="col-sm-6">
                <h3 class="text-center">Original</h3>
                <textarea id="eBase64Text" rows="10" class="form-control" placeholder="Enter the text you want to encrypt."></textarea>
                <button class="shoes btn btn-primary center-block" id="base64Encrypt">Encrypt</button>
              </div>
              <div class="col-sm-6">
                <h3 class="text-center">Encrypted</h3>
                <textarea id="dBase64Text" rows="10" class="form-control" placeholder="Enter the text you want to decrypt."></textarea>
                <button class="shoes btn btn-primary center-block" id="base64Decrypt">Decrypt</button>
              </div>
            </div>
          </div>

          <!-- Hex Tab -->
          <div class="tab-pane fade" id="hex">
            <div class="" id="hexAlertContainer"></div>
            <div class="row">
              <div class="col-sm-6">
                <h3 class="text-center">Original</h3>
                <textarea id="eHexText" rows="10" class="form-control" placeholder="Enter the text you want to encrypt."></textarea>
                <button class="shoes btn btn-primary center-block" id="hexEncrypt">Encrypt</button>
              </div>
              <div class="col-sm-6">
                <h3 class="text-center">Encrypted</h3>
                <textarea id="dHexText" rows="10" class="form-control" placeholder="Enter the text you want to decrypt."></textarea>
                <button class="shoes btn btn-primary center-block" id="hexDecrypt">Decrypt</button>
              </div>
            </div>
          </div>

          <!-- Honey Tab -->
          <div class="tab-pane fade" id="honey">
            <!-- HONEY NAVIGATION -->
            <ul class="nav nav-pills" role="tablist" id="honey-pills">
              <li class="active"><a href="#honeyMain" role="tab" data-toggle="tab">Encrypt & Decrypt</a></li>
              <li><a href="#honeyDict" role="tab" data-toggle="tab">Dictionary</a></li>
            </ul>
            <!-- HONEY TAB CONTENTS -->
            <div class="tab-content">
              <!-- Honey Encrypt Decrypt -->
              <div class="tab-pane active fade in" id="honeyMain">
                <div class="" id="honeyAlertContainer"></div>
                <div class="row">
                  <div class="col-sm-6">
                    <h3 class="text-center">Original</h3>
                    <textarea id="eHoneyText" rows="10" class="form-control" placeholder="Enter the text you want to encrypt."></textarea>
                    <button class="shoes btn btn-primary center-block" id="honeyEncrypt">Encrypt</button>
                  </div>
                  <div class="col-sm-6">
                    <h3 class="text-center">Encrypted</h3>
                    <textarea id="dHoneyText" rows="10" class="form-control" placeholder="Enter the text you want to decrypt."></textarea>
                    <button class="shoes btn btn-primary center-block" id="honeyDecrypt">Decrypt</button>
                  </div>
                </div>
                <div class="honeySettings">
                  <div class="row">
                    <div class="col-sm-offset-4 col-sm-4 well">
                      <div class="row">
                        <div class="col-sm-12">
                          <h4 class="text-center">Configurations: </h4>
                        </div>
                      </div>
                      <div class="row text-center">
                        <div class="col-sm-6">
                          <p>Shift</p>
                          <input type="number" id="honeyShift" class="form-control text-center" value="0">
                        </div>
                        <div class="col-sm-6">
                          <p>Dictionary</p>
                          <input type="checkbox" checked data-toggle="toggle"
                           data-onstyle="success" data-offstyle="danger" id="dictToggle" data-width="100%">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Honey Dictionary -->
              <div class="tab-pane fade" id="honeyDict">
                <div class="well" id="dict-container">
                  <div class="letter-container">
                    <p class="text-center"><strong>0</strong></p>
                    <input type="text" class="form-control text-center" id="val_0" readonly maxlength="1" value="0">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>1</strong></p>
                    <input type="text" class="form-control text-center" id="val_1" readonly maxlength="1" value="1">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>2</strong></p>
                    <input type="text" class="form-control text-center" id="val_2" readonly maxlength="1" value="2">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>3</strong></p>
                    <input type="text" class="form-control text-center" id="val_3" readonly maxlength="1" value="3">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>4</strong></p>
                    <input type="text" class="form-control text-center" id="val_4" readonly maxlength="1" value="4">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>5</strong></p>
                    <input type="text" class="form-control text-center" id="val_5" readonly maxlength="1" value="5">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>6</strong></p>
                    <input type="text" class="form-control text-center" id="val_6" readonly maxlength="1" value="6">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>7</strong></p>
                    <input type="text" class="form-control text-center" id="val_7" readonly maxlength="1" value="7">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>8</strong></p>
                    <input type="text" class="form-control text-center" id="val_8" readonly maxlength="1" value="8">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>9</strong></p>
                    <input type="text" class="form-control text-center" id="val_9" readonly maxlength="1" value="9">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>A</strong></p>
                    <input type="text" class="form-control text-center" id="val_a" readonly maxlength="1" value="A">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>B</strong></p>
                    <input type="text" class="form-control text-center" id="val_b" readonly maxlength="1" value="B">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>C</strong></p>
                    <input type="text" class="form-control text-center" id="val_c" readonly maxlength="1" value="C">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>D</strong></p>
                    <input type="text" class="form-control text-center" id="val_d" readonly maxlength="1" value="D">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>E</strong></p>
                    <input type="text" class="form-control text-center" id="val_e" readonly maxlength="1" value="E">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>F</strong></p>
                    <input type="text" class="form-control text-center" id="val_f" readonly maxlength="1" value="F">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>G</strong></p>
                    <input type="text" class="form-control text-center" id="val_g" readonly maxlength="1" value="G">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>H</strong></p>
                    <input type="text" class="form-control text-center" id="val_h" readonly maxlength="1" value="H">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>I</strong></p>
                    <input type="text" class="form-control text-center" id="val_i" readonly maxlength="1" value="I">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>J</strong></p>
                    <input type="text" class="form-control text-center" id="val_j" readonly maxlength="1" value="J">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>K</strong></p>
                    <input type="text" class="form-control text-center" id="val_k" readonly maxlength="1" value="K">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>L</strong></p>
                    <input type="text" class="form-control text-center" id="val_l" readonly maxlength="1" value="L">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>M</strong></p>
                    <input type="text" class="form-control text-center" id="val_m" readonly maxlength="1" value="M">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>N</strong></p>
                    <input type="text" class="form-control text-center" id="val_n" readonly maxlength="1" value="N">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>O</strong></p>
                    <input type="text" class="form-control text-center" id="val_o" readonly maxlength="1" value="O">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>P</strong></p>
                    <input type="text" class="form-control text-center" id="val_p" readonly maxlength="1" value="P">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>Q</strong></p>
                    <input type="text" class="form-control text-center" id="val_q" readonly maxlength="1" value="Q">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>R</strong></p>
                    <input type="text" class="form-control text-center" id="val_r" readonly maxlength="1" value="R">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>S</strong></p>
                    <input type="text" class="form-control text-center" id="val_s" readonly maxlength="1" value="S">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>T</strong></p>
                    <input type="text" class="form-control text-center" id="val_t" readonly maxlength="1" value="T">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>U</strong></p>
                    <input type="text" class="form-control text-center" id="val_u" readonly maxlength="1" value="U">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>V</strong></p>
                    <input type="text" class="form-control text-center" id="val_v" readonly maxlength="1" value="V">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>W</strong></p>
                    <input type="text" class="form-control text-center" id="val_w" readonly maxlength="1" value="W">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>X</strong></p>
                    <input type="text" class="form-control text-center" id="val_x" readonly maxlength="1" value="X">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>Y</strong></p>
                    <input type="text" class="form-control text-center" id="val_y" readonly maxlength="1" value="Y">
                  </div>
                  <div class="letter-container">
                    <p class="text-center"><strong>Z</strong></p>
                    <input type="text" class="form-control text-center" id="val_z" readonly maxlength="1" value="Z">
                  </div>

                </div>
                <div class="text-right">
                  <h4 class="pull-left text-danger err-dict" style="display: none">Please fill-up the missing letters.</h4>
                  <button class="btn btn-info btn-lg" id="honeyEdit">Edit</button>
                  <button class="btn btn-success btn-lg" disabled="disabled" id="honeyApply">Apply Changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        </div>
      </div>
  </body>

  <!-- Insert this line above script imports  -->
  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

  <!-- normal script imports etc  -->
  <script src="../assets/jquery/jquery.min.js"></script>
  <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="../assets/toggle/js/bootstrap-toggle.min.js"></script>
  <script src="../assets/js/caesarShift.js"></script>

  <!-- Insert this line after script imports -->
  <script>if (window.module) module = window.module;</script>

  <script>
    $('#dictToggle').bootstrapToggle();
  </script>
  <!-- JS Encodings -->
  <script src="../caesar.js"></script>
  <script src="../base64.js"></script>
  <script src="../hex.js"></script>
  <script src="../honey.js"></script>

</html>
